**/*.suo
**/bin
**/obj
OOPRecords.ConsoleUI/OOPRecords.ConsoleUI.csproj.user
.vs/OOPRecords/config/applicationhost.config
.vs/OOPRecords.Client/config/applicationhost.config
*.v2
OOPRecords.Server/nakedobjects.log.*
